<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>groups</title>
</head>
<body>
<p><a href="{{ url_for('add_group')}}">for adding group - press on thise link</a></p>

<table border="1">
    <tr>
        <td>group's id</td>
        <td>group's name</td>
        <td></td>
        <td></td>
    </tr>
    {% for group in groups %}
    <tr>
        <td>{{ group.id }}</td>
        <td><a href="{{ url_for('students', group_id=group.id)}}">{{ group.name }}</a></td>
        <td><a href="{{ url_for('update_group', group_id=group.id)}}">update</a></td>
        <td><a href="{{ url_for('delete_group', group_id=group.id)}}">delete</a></td>
    </tr>

    {% endfor %}


</table>

</body>
</html>